@import url('./src/css/_fonts.css');
@import url('./src/css/_base.css');
@import url('./src/css/_header.css');
@import url('./src/css/_hero.css');

.glider-contain {
    overflow: hidden;
}

.glider img {
    display: block;
    width: 100%;
    height: auto;
}

.food-drink {
    padding: 5rem 1rem;
    background-color: var(--yellow);
    margin-right: 10%;
    position: relative;
    z-index: 10;
}

.food-drink__title {
    font-size: 4rem;
    margin-top: -6.5rem;
    margin-bottom: 1rem;
}

.food-drink__text {
    margin-bottom: 2rem;
}

.food-drink__text p {
    margin: 0;
}

.food-drink__links .btn {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.food-drink__img {
    margin-top: -3rem;
    margin-left: 3rem;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 10;
    position: relative;
}

.btn {
    font-weight: 500;
    display: inline-block;
    color: var(--white);
    background-color: var(--black);
    border: 0;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;
}

.btn:hover,
.btn:focus {
    color: var(--black);
    background-color: var(--white);
}

.splide img {
    width: 100%;
}

.whats-on__section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.whats-on__title {
    position: relative;
}

.whats-on__title h2 {
    font-size: 4rem;
    margin-bottom: 1.125rem;
    position: absolute;
    bottom: 0;
    right: 1rem;
}

.glider-whats-on {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.glider-whats-on .glider-slide {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.glider-whats-on h3 {
    font-size: 2rem;
    margin: 0;
    color: var(--white);
    text-align: right;
    margin-right: 2rem;
    margin-top: -1rem;
}

.find-us__title {
    background-color: var(--yellow);
    width: 60%;
    margin-bottom: -2.5rem;
    padding: 0.5rem 1.5rem 0.125rem 0;
    text-align: right;
    position: relative;
    z-index: 10;
}

.find-us__title h2 {
    font-size: 4rem;
    margin: 0;
}

.map {
    padding-top: 100%;
}

#marker {
    background-image: url('./images/marker.png');
    background-size: cover;
    width: 35px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
 
.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    font-family: 'Veneer Clean', sans-serif;
    font-size: 2rem;
    line-height: 1;
    padding: 10px 25px 15px 10px;
}

.mapboxgl-popup-close-button {
    width: 42px;
    height: 42px;
}

.social li {
    position: relative;
    padding-left: 3rem;
    min-height: 2rem;
    margin-bottom: 0.75rem;
}

.social li:nth-of-type(2) {
    margin-bottom: 1.5rem;
}

.social .icon {
    background-color: var(--black);
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.social svg {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--yellow);
}

.social a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid var(--black);
    transition: border-color 0.2s;
    position: relative;
}

.social span {
    position: relative;
    z-index: 10;
}

.social a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--yellow);
    transition: width .2s;
}

.social a:hover,
.social a:focus {
    border-color: var(--yellow);
}

.social a:hover::after,
.social a:focus::after {
    width: 100%;
}

.hours li {
    margin-bottom: 0.25rem;
    white-space: nowrap;
}

.hours span:first-child {
    display: inline-block;
    width: 60px;
}

.hours-kitchen span:first-child {
    width: 210px;
}

.footer {
    padding: 1.5rem 0;
}

.footer h4,
.footer p,
.footer address,
.form label {
    font-size: 1.125rem;
    font-style: normal;
    margin: 0;
}

.footer p {
    margin: 0;
}

.footer a {
    color: var(--black);
    text-decoration: none;
}

.footer__block {
    margin-bottom: 1.5rem;
}

.form-group {
    display: flex;
    margin-bottom: 0.5rem;
}

.form label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
}

.form input {
    font-size: 1.125rem;
    padding: 1rem;
    border: 0;
    border-radius: 0;
}

.form button {
    font-size: 1.125rem;
    font-weight: bold;
    border: 0;
    padding: 1.125rem 1.5rem;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
    transition: color 0.2s;
}

.form button:hover,
.form button:focus {
    color: var(--yellow);
}

.footer__social.footer__social {
    text-align: right;
    margin-top: 2rem;
}

.footer__social a {
    display: block;
}

.footer__social li {
    display: inline-block;
    margin-left: 0.75rem;
}

.footer__social svg {
    width: 2.5rem;
    height: 2.5rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-teal {
    background-color: var(--teal);
}

.bg-yellow {
    background-color: var(--yellow);
}

.text-yellow {
    color: var(--yellow);
}

.text-white {
    color: var(--white);
}

.text-lg {
    font-size: 6rem;
}

.text-sm {
    font-size: 1.5rem;
}

.title-sm {
    font-size: 2rem;
}

.font-medium {
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.max-w-prose {
    max-width: 68ch;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-0 {
    margin: 0;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.overflow-hidden {
    overflow: hidden;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.eapps-link.eapps-link {
    display: none !important;
}

@media (min-width: 576px) {
    .food-drink {
        padding: 5rem 2rem;
    }

    .food-drink__row {
        display: flex;
        align-items: center;
    }

    .food-drink__title {
        font-size: 5.5rem;
    }

    .food-drink__text {
        flex: 1 0 66%;
        max-width: 66%;
        margin-bottom: 0;
        padding-right: 2rem;
    }

    .food-drink__links {
        flex: 1 0 33.33%;
        max-width: 33.33%;
        text-align: center;
    }

    .glider-contain .glider-prev,
    .glider-contain .glider-next {
        background: url('./images/arrow.png') no-repeat center;
        background-size: contain;
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
    }

    .glider-contain .glider-prev:focus,
    .glider-contain .glider-next:focus {
        outline: revert;
    }

    .glider-contain .glider-prev {
        left: 1rem;
    }

    .glider-contain .glider-next {
        right: 1rem;
        transform: rotate(180deg);
    }

    .whats-on__section {
        margin-top: 5rem;
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    .glider-whats-on {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .whats-on__title h2 {
        font-size: 5.5rem;
        margin-bottom: 0.875rem;
    }

    .glider-whats-on .glider-slide {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .glider-whats-on h3 {
        font-size: 3rem;
        margin-top: -1.25rem;
    }

    .whats-on h3 {
        font-size: 4rem;
    }

    .find-us__title {
        margin-bottom: -3rem;
    }

    .find-us__title h2 {
        font-size: 5.5rem;
    }

    .map {
        padding-top: 0;
        height: 500px;
    }

    .footer {
        padding: 3rem 0;
    }

    .text-lg {
        font-size: 8rem;
    }

    .text-sm {
        font-size: 2rem;
    }

    .title-sm {
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    .food-drink {
        padding: 7.5rem 2rem;
    }

    .food-drink__title {
        font-size: 7.5rem;
        margin-top: -9.5rem;
    }

    .whats-on__section {
        padding-bottom: 5.5rem;
    }

    .whats-on__title h2 {
        font-size: 7.5rem;
        margin-bottom: 0.5rem;
    }

    .find-us__title {
        width: 45%;
        margin-bottom: -4rem;
    }    

    .find-us__title h2 {
        font-size: 7.5rem;
    }

    #marker {
        width: 50px;
        height: 71px;
    }

    .footer {
        padding: 5rem 0;
    }

    .row,
    .footer__row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -1.5rem;
        margin-left: -1.5rem;
    }

    .col,
    .footer__col {
        flex-shrink: 0;
        width: 100%;
        flex: 1 0 50%;
        max-width: 50%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .footer__col {
        flex: 1 0 auto;
        max-width: none;
    }

    .col-auto {
        max-width: none;
        flex: 1 0 auto;
        width: auto;
    }
}

@media (min-width: 1200px) {
    .footer__col {
        flex: 1;
    }

    .map {
        height: 700px;
    }

    #marker {
        width: 70px;
        height: 100px;
    }
}
