.about {
    background: url('/images/bg-about.jpg') no-repeat center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.about__row {
    justify-content: center;
}

.about__col {
    text-align: center;
    max-width: 244px;
    flex: 1 0 244px;
    padding: 90px 0.75rem 0;
    margin-bottom: 1.5rem;
}

.about__item {
    border: 4px solid var(--teal);
    padding: 7rem 1rem 1.5rem;
    position: relative;
}

.about__title {
    font-family: 'Veneer Clean Soft', sans-serif;
    font-size: 2rem;
    color: var(--yellow);
    margin-bottom: 1rem;
}

.about__image {
    display: block;
    max-width: 157px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
}
