.drinks__section {
    position: relative;
}

.drinks__bg {
    background: url('../public/images/img-can.svg') no-repeat center;
    background-size: 110px;
    width: 110px;
    height: 110px;
    position: absolute;
    top: 2.5rem;
    right: -0.625rem;
}

.drinks__row {
    margin-bottom: 5rem;
}

.drinks__title {
    font-size: 4rem;
    color: var(--yellow);
    margin-bottom: 1rem;
}

.drinks__text {
    max-width: 40ch;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    margin-bottom: 2rem;
}

.drinks__carousel {
    padding: 2rem 0;
    transform: rotate(-2deg);
    background-image: url('../public/images/bg-carousel-drinks.png'), url('../public/images/bg-carousel-drinks.png');
    background-color: #0F171F;
    background-repeat: repeat-x;
    background-position: top 2px center, bottom 2px center;
    background-size: 30px;
    box-shadow: 0 10px 0 hsl(33deg 50% 10% / 30%);
    width: 102%;
    margin-left: -1%;
    margin-bottom: 5rem;
}

.drinks__carousel img {
    width: 200px !important;
    height: auto;
}

.drinks__carousel .splide__arrow--next {
    right: calc(1em + 1%);
}

.drinks__carousel .splide__arrow--prev {
    left: calc(1em + 1%);
}

.food__image {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.food__image img {
    max-width: 362px;
    width: 100%;
    height: auto;
    box-shadow: 0.75rem 0.75rem 0 var(--yellow);
    filter: saturate(1.2) brightness(1.1);
}

@media (min-width: 576px) {
    .drinks__section {
        padding-top: 6rem;
    }

    .drinks__row {
        margin-bottom: 6rem;
    }

    .drinks__bg {
        background-size: 160px;
        width: 160px;
        height: 160px;
        top: 2rem;
        right: -1rem;
    }

    .drinks__title {
        font-size: 5rem;
    }
}

@media (min-width: 768px) {
    .drinks__section {
        padding-top: 7rem;
    }

    .drinks__row {
        margin-bottom: 7rem;
    }

    .drinks__bg {
        background-size: 236px;
        width: 236px;
        height: 236px;
        top: 0.75rem;
        right: -1.5rem;
    }

    .drinks__title {
        font-size: 7rem;
    }

    .drinks__text {
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    .drinks__section {
        padding: 10rem 0 6rem;
    }

    .drinks__bg {
        background-size: 540px;
        width: 540px;
        height: 540px;
        top: 2rem;
        right: -3rem;
    }

    .drinks__col {
        max-width: 60%;
    }

    .drinks__title {
        font-size: 8rem;
    }

    .drinks__text {
        max-width: 50ch;
    }

    .drinks__carousel {
        padding: 4rem 0;
        background-position: top 2px center, bottom 2px center;
        background-size: 60px;
        box-shadow: 0 1rem 0 hsl(33deg 50% 10% / 30%);
        margin-bottom: 7rem;
    }

    .drinks__carousel img {
        width: 330px !important;
    }

    .food__row {
        flex-direction: row-reverse;
    }

    .food__col {
        flex: 1 0 50%;
        max-width: 50%;
    }

    .food__image {
        margin-top: 0;
    }

    .food__image img {
        max-width: none;
        box-shadow: 1rem 1rem 0 var(--yellow);
    }
}

@media (min-width: 1400px) {
    .drinks__col {
        max-width: 70%;
    }

    .drinks__bg {
        background-size: 600px;
        width: 600px;
        height: 600px;
        top: 0.5rem;
        right: -3.5rem;
    }
}

@media (min-width: 1800px) {
    .drinks__col {
        max-width: 100%;
    }
}
