.footer {
    padding: 1.5rem 0;
}

.footer h4,
.footer p,
.footer address,
.form label {
    font-size: 1.125rem;
    font-style: normal;
    margin: 0;
}

.footer p {
    margin: 0;
}

.footer a {
    color: var(--black);
    text-decoration: none;
}

.footer__block {
    margin-bottom: 1.5rem;
}

.footer__social.footer__social {
    text-align: right;
    margin-top: 2rem;
}

.footer__social a {
    display: block;
}

.footer__social li {
    display: inline-block;
    margin-left: 0.75rem;
}

.footer__social svg {
    width: 2.5rem;
    height: 2.5rem;
}

@media (min-width: 576px) {
    .footer {
        padding: 3rem 0;
    }
}

@media (min-width: 768px) {
    .footer {
        padding: 5rem 0;
    }

    .footer__col {
        flex: 1 0 auto;
        max-width: none;
    }
}

@media (min-width: 1200px) {
    .footer__col {
        flex: 1;
    }
}

@media (min-width: 1200px) {
    .footer__col {
        flex: 1;
    }
}
