.gallery {
    background-color: var(--yellow);
}

.gallery__container {
}

.gallery__title {
    font-family: 'Veneer Clean', sans-serif;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0;
}

.gallery__text {
    font-family: 'Veneer Clean', sans-serif;
    font-size: 1rem;
}

.gallery__list {
    list-style: none;
    padding: 0;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.gallery__list li {
    flex: 1 0 50%;
    max-width: 50%;
}

.gallery__list img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 768px) {
    .gallery__title {
        font-size: 4rem;
    }

    .gallery__bg {
        background: url(/wp-content/themes/salt-oakwood/public/images/img-phone.png) no-repeat top left;
        background-size: 70px 111px;
        width: 70px;
        height: 111px;
        position: absolute;
        top: -30px;
        left: 3%;
    }

    .gallery__list {
        max-width: none;
    }

    .gallery__list li {
        flex-basis: 20%;
        max-width: 20%;
    }
}

@media (min-width: 1200px) {
    .gallery__list {
        max-width: none;
    }

    .gallery__list li {
        flex-basis: 20%;
        max-width: 20%;
    }
}

@media (min-width: 1400px) {
    .gallery__container {
        max-width: 1400px;
    }
}
