.header__nav-bar {
    padding: 0 1rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100000;
    min-width: 375px;
    transition: background-color 0.2s;
}

.header__nav-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 100;
}

.header--light .header__nav-bar {
    background-color: var(--white);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    min-width: 375px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.header__menu-toggle,
.header__logo,
.header__book {
    flex: 1 0 33.33%;
    max-width: 33.33%;
}

.header__nav-collapse {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 100px;
    background-color: var(--yellow);
    display: none;
}

.header__nav-collapse::before {
    content: '';
    display: block;
    width: 100px;
    height: 70px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__nav-collapse::after {
    content: '';
    display: block;
    border-top: 24px solid var(--white);
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-active {
    overflow: hidden;
}

.menu-active .logo,
.menu-active .header__book {
    visibility: hidden;
    opacity: 0;
}

.menu-active .logo--dark {
    visibility: visible;
    opacity: 1;
}

.header__nav-collapse.show {
    display: block;
}

.header__nav {
    margin: 3rem 0 0 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header__nav li {
    width: 100%;
    text-align: center;
}

.header__nav-link {
    font-family: 'Veneer Clean', sans-serif;
    font-size: 2rem;
    color: var(--black);
    text-decoration: none;
    display: block;
    padding: 0.5rem 2rem;
}

.header__nav-link:hover,
.header__nav-link:focus {
    color: var(--white);
}

.ball {
    width: 300px;
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    background-size: 300px 200px;
    mix-blend-mode: soft-light;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.header__logo-wrapper {
    display: block;
    width: 94px;
    height: 59px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0.25rem;
}

.logo {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.logo--dark {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
}

.header--light .logo--dark {
    visibility: visible;
    opacity: 1;
}

.header__book {
    text-align: right;
}

.header__btn {
    font-size: 0.875rem;
    font-weight: 500;
    display: inline-block;
    color: var(--white);
    background-color: transparent;
    border-radius: 3rem;
    padding: 0.25em 0.75rem;
    border: 2px solid var(--white);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;
}

.header--light .header__btn,
.header__btn:hover,
.header__btn:focus {
    color: var(--black);
    background-color: var(--white);
}

.header--light .header__btn {
    border-color: var(--black);
}

.header--light .header__btn:hover,
.header--light .header__btn:focus {
    color: var(--yellow);
    background-color: var(--black);
}

@media (min-width: 576px) {
    .header__nav-bar {
        padding: 0 2rem;
    }

    .header__menu-toggle svg {
        width: 2rem;
        height: 2rem;
    }
}

@media (min-width: 768px) {
    .header__nav-row {
        height: 138px;
    }

    .header__logo-wrapper {
        width: 130px;
        height: 82px;
        top: 0.875rem;
    }
    
    .header__btn {
        font-size: 1.125rem;
        line-height: 1;
        padding: 0.5rem 1.75rem;
    }
}

@media (min-width: 1200px) {
    .header__nav-bar {
        padding: 0 2.5rem;
    }

    .header__nav-row {
        height: 138px;
    }

    .header__logo-wrapper {
        width: 150px;
        height: 94px;
        top: 0.875rem;
    }

    .header__nav-collapse {
        padding-top: 150px;
    }

    .header__btn {
        font-size: 1.25rem;
        padding: 0.75rem 1.75rem;
    }
}
