.whats-on__section {
    padding-top: 12rem;
    padding-bottom: 3rem;
    background: url('/wp-content/themes/salt-oakwood/public/images/bg-whats-on.jpg') no-repeat center var(--black);
    background-size: cover;
}

.whats-on__bg {
    background: url(/wp-content/themes/salt-oakwood/public/images/img-acorn.png) no-repeat center;
    background-size: 270px;
    width: 270px;
    height: 341px;
    position: absolute;
    bottom: -16px;
    left: 30px;
}

.whats-on__title {
    font-size: 5rem;
    color: var(--pink);
    margin-bottom: -1rem;
    text-align: right;
    position: relative;
    z-index: 10;
}

.whats-on__title span {
    background-color: var(--black);
    display: inline-block;
    line-height: 0.9;
}

.whats-on__carousel {
    padding: 2.5rem 0;
    background-image: url('/wp-content/themes/salt-oakwood/public/images/bg-carousel-whats-on.png'), url('/wp-content/themes/salt-oakwood/public/images/bg-carousel-whats-on.png');
    background-color: var(--pink);
    background-repeat: repeat-x;
    background-position: top -1px center, bottom -1px center;
    background-size: 45px;
    width: 102%;
    margin-left: -1%;
    margin-bottom: 7rem;
    position: relative;
    z-index: 20;
}

.whats-on__carousel img {
    width: 260px !important;
    height: 240px;
}

.whats-on__carousel .splide__arrow--next {
    right: calc(1em + 1%);
}

.whats-on__carousel .splide__arrow--prev {
    left: calc(1em + 1%);
}

@media (min-width: 768px) {
    .whats-on__title {
        font-size: 7rem;
        margin-bottom: -1.4rem;
        margin-right: 3rem;
    }
}

@media (min-width: 1200px) {
    .whats-on__section {
        padding-top: 24rem;
    }

    .whats-on__bg {
        background-size: 480px 605px;
        width: 480px;
        height: 605px;
        bottom: -40px;
        left: 30px;
    }

    .whats-on__title {
        font-size: 8rem;
        margin-bottom: -1.6rem;
    }

    .whats-on__carousel {
        margin-bottom: 10rem;
    }
}